.plc-daily-statement-modal {
    .alert-warning{
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
        padding: 5px;
    }

    .bold{
        font-weight: 700;
        padding-bottom: 10px;
    }

    .help-text{
        margin-bottom: 10px;
    }

    .shipping-service__sales-channel-select{
        margin-top: 15px;
    }
}
